<div class="container">
  <br>
  <%= link_to "/" do %>
    <i class="fa-solid fa-house"></i>
  <% end %>
  <% if @recipe.photo.key? %>
    <%= cl_image_tag @recipe.photo.key, :width=>500, :crop=>"mfit", class: "img" %>
  <% else %>
    <%= image_tag "https://images.unsplash.com/photo-1555939594-58d7cb561ad1?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1374&q=80" %>
  <% end %>
  <div class="recipe-top">
    <div class= "name-recipe">
      <p><%= @recipe.name %></p>
    </div>
    <span>FROM</span>
    <div class= "place-recipe">
      <%= @recipe.place.country %>
    </div>
  </div>
  <div class="recipe-content">
    <p>Ingredients :</p>
    <small>
      <% @recipe.quantities.each do |quantity|%>
        <%= quantity.amount %>
        <%= quantity.unit %>
        <%= quantity.ingredient.name %> ;
      <% end %>
    </small>
    <p>Directions :</p>
    <% @recipe.content.split('STEP')[1..].each do |step| %>
      <p> STEP <%= step %></p>
    <% end %>
  </div>
</div>
