<div data-controller="card" class="flip-card"  style="transform: <%= style %>" data-action='click->card#rotateCard'>
    <div class="flip-card-inner">
      <div class="flip-card-front">
      <div class="close-btn">
        <button class="close-button" data-action="click->card#closeCard">X</button>
      </div>
        <!-- Contenu de la carte -->
        <% if place.city || place.region %>
          <div class="card">
            <h2>Welcome to <%= place.city || place.region || place.country %>'s cuisine</h2>
              <% place.recipes.each do |recipe| %>
                <p><%= link_to recipe.name, recipe %> </p>
              <% end %>
          </div>
        <% else %>
            <h2>Welcome to <%= place.city || place.region || place.country %>'s cuisine</h2>
            <ul><h3>Basic ingredients :</h3>
              <% place.ingredients.sample(6).each do |ingr|%>
                <li><%= ingr.name %></li>
              <% end %>
            </ul>
            <ul><h3>Utensils :</h3>
            <% place.utensils.sample(6).each do |utensil| %>
              <li><%= utensil.name %></li>
            <% end %>
            </ul>
          <% end %>
      </div>
      <div class="flip-card-back display-none">
        <!-- Contenu de la carte arrière -->
      <div class="close-btn">
      <button class="close-button" data-action="click->card#closecard">X</button>
      </div>
        <h2>Welcome to <%= place.city || place.region || place.country %>'s cuisine</h2>
        <ul><h3>Some typical and recommended recipes : </h3>
          <% place.recipes.sample(8).each do |recipe| %>
            <li><%= link_to recipe.name, recipe %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
