<div class="wrapper">
  <div class="col-12">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div data-controller="chatbot">
        <div class="form">
          <%= form_with url: root_path, method: :get, class: "search" do %>
            <%= text_field_tag :query,
              nil,
              class: "form-control input",
              placeholder: "Travel through your plate..."
            %>
            <div class="button">
              <%= button_tag type: :submit, class: "butn" do %>
                <i class="fa-solid fa-magnifying-glass loupe"></i>
               <% end %>
            </div>
          <% end %>
        </div>
        <div class="menu-btn" data-controller="menu">
          <% if user_signed_in? %>
            <button data-action="click->menu#toggleMenu">
              <% if current_user.name == "alexis" || current_user.name == "cecile" || current_user.name == "ouss" %>
              <%= image_tag "users/#{current_user.name}.png", class: "rounded-circle img-fluid", :style => "width:7em;" %>
              <% else %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle img-fluid" , :style => "width:7em;" %>
              <% end %>
            </button>
            <ul data-menu-target="menu" class="menu display-none">
              <li><%= link_to "Profile", profile_path %></li>
              <li><%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
            </ul>
          <% else %>
            <li><%= link_to "Login", new_user_session_path %></li>
            <li><%= link_to "Sign up", new_user_registration_path %></li>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <button id="chatbot-button" data-chatbot-target='button' data-action='click->chatbot#toggleInput'><i class="fa-solid fa-robot"></i>
          </button>
          <div style="height: 50vh; width: 50vw;" data-chatbot-target='input' class="hidden">
            <input type="text" name="new_item" data-input-target="input" id="chatbot-input">
            <!-- <button data-action="click->input-toggle#submit">Add</button> -->
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
