<div class="wrapper">
  <div class="col-12">
    <div id="map"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="form">
        <%= form_with url: root_path, method: :get, class: "search" do %>
          <%= text_field_tag :query,
            nil,
            class: "form-control input",
            placeholder: "Travel through your plate..."
          %>
          <div class="button">
            <%= button_tag type: :submit, class: "butn" do %>
              <i class="fa-solid fa-magnifying-glass loupe"></i>
             <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
