<div class="wrapper">
  <div class="col-12">
    <div id="map"
      data-controller="map"
      data-controller="card"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      <div class="form">
        <%= form_with url: recipes_path, method: :get, class: "search" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control input",
            placeholder: "Travel through your plate..."
          %>
          <div class="button">
            <%= button_tag type: :submit, class: "butn" do %>
              <i class="fa-solid fa-magnifying-glass loupe"></i>
             <% end %>
          </div>
        <% end %>
      </div>
      <div class="card">
        <h2>Welcome to India</h2>
          <p>Its flavor profile is pungent, spicy</p>
          <h3>Basic ingredients
            <p>- Mustard seeds</p>
            <p>- Black and green cardamom</p>
            <p>- Turmeric</p>
            <p>- Cinnamon</p>
            <p>- Black peppercorns</p>
            <p>- Mace</p>
          </h3>
          <h3>Utensils
            <p>- Kadai</p>
            <p>- Wok</p>
            <p>- Strainer</p>
          </h3>
      </div>
    </div>
  </div>
</div>
