<<<<<<< HEAD
<div class="container p-4">
  <div class="how-section1">
    <div class="row">
      <div class="col-md-6 how-img">
        <% if current_user.name == "alexis" || current_user.name == "cecile" || current_user.name == "ouss" %>
          <%= image_tag "users/#{current_user.name}.png", class: "rounded-circle img-fluid", :style => "width:10em;" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle img-fluid" %>
        <% end %>
      </div>
      <div class="col-md-6">
        <h4><strong><%= current_user.name.capitalize() %></strong></h4>
        <h4 class="subheading"><i class="fa-regular fa-envelope"></i> <%= current_user.email %></h4>
        <h4 class="subheading"><i class="fa-regular fa-envelope"></i> <%= @flavor_profiles.count() %></h4>
      </div>
    </div>
  </div>
</div>
=======
<h1>Salut salut c'est ton profil</h1>

<div class="accordion " id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <span style="color:black;">Button</span>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">My Favorite Food</th>
              <th scope="col">Name</th>
              <th scope="col">Place</th>
              <th scope="col">Age</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
>>>>>>> 3491a9545370d987740a19bdd3f3638a3670a6ae
