<br>
<%= link_to root_path, class:"btn-home" do %>
  <i class="fa-solid fa-house"></i>
<% end %>
<div class="how-img">
  <% if current_user.name == "alexis" || current_user.name == "cecile" || current_user.name == "ouss" %>
    <%= image_tag "users/#{current_user.name}.png", class: "rounded-circle img-fluid", :style => "width:6em" %>
  <% else %>
    <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle img-fluid" %>
  <% end %>
</div>
<div class="containeur-profile">
  <% if current_user.flavor_profile.present? %>
       <div id="myPieChart" data-controller='chart' data-chart-target="chart"
      data-chart-sweetness-value='<%= current_user.flavor_profile.sweetness %>'
      data-chart-sourness-value='<%= current_user.flavor_profile.sourness %>'
      data-chart-saltiness-value='<%= current_user.flavor_profile.saltiness %>'
      data-chart-savoriness-value='<%= current_user.flavor_profile.savoriness %>'
      data-chart-bitterness-value='<%= current_user.flavor_profile.bitterness %>'
      data-chart-spiciness-value='<%= current_user.flavor_profile.spiciness %>'
      data-chart-fattiness-value='<%= current_user.flavor_profile.fattiness %>' ></div>
  <% else %>
      <%= link_to "Complete your flavor profile !", new_flavor_profile_path %>
  <% end %>
  <div class="recipes-user">
    <h3>Favourite recipes :</h3>
    <ul>
    <% current_user.proposed_recipes.each do |recipe| %>
      <li><%= link_to recipe.recipe.name, recipe_path(recipe.recipe) %></li>
    <% end %>
    </ul>
  </div>
</div>
