<div class="containeur-profile">
  <div class="how-section1">
      <div class="how-img">
        <% if current_user.name == "alexis" || current_user.name == "cecile" || current_user.name == "ouss" %>
          <%= image_tag "users/#{current_user.name}.png", class: "rounded-circle img-fluid", :style => "width:8em" %>
        <% else %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "rounded-circle img-fluid" %>
        <% end %>
      </div>
    </div>
   <%= pie_chart @flavor_profile %>
      <div class="recipes-user">
      <ul>
      <li><%= current_user.flavor_profile.saltiness %></li>
      <li><%= current_user.flavor_profile.sweetness %></li>
        <li>pizza with pineaple tomato</li>
        <li>lasagne with pineaple tomato</li>
        <li>kebab with viande tomato</li>
        <li>pizza with fromage tomato</li>
        <li>pizza with pineaple banana</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>lasagne with pineaple tomato</li>
        <li>kebab with viande tomato</li>
        <li>pizza with fromage tomato</li>
        <li>pizza with pineaple banana</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>lasagne with pineaple tomato</li>
        <li>kebab with viande tomato</li>
        <li>pizza with fromage tomato</li>
        <li>pizza with pineaple banana</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
        <li>pizza with pineaple tomato</li>
      </ul>
    </div>
  </div>
